<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
</head>

<body>

	<div th:fragment="footer" class="container">
		<footer class="text-muted">
			<div class="container">
				<p class="float-right">
					<!--<a href="#">Volver arriba</a>-->
					<button onclick="topFunction()" id="myBtn">Top</button>
				</p>
				<p class="float-left">Librerias LuisitoBooks</p>
			</div>
		</footer>
	</div>
	<script type="text/javascript" src="/js/BackToTop.js"></script>
</body>

</html>